In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
dataset=pd.read_csv('12_practiceDataset.csv')

In [3]:
print(dataset.shape)
print(dataset.head(5))

(1460, 81)
   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9
3         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
4         Lvl    AllPub  ...        0    NaN   NaN         NaN       0     12

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500
3   2006        WD        Abnorml     140000
4   2008        WD         Normal     250000

[5 rows x 81 columns]

In [4]:
dataset.isnull().any()

Id               False
MSSubClass       False
MSZoning         False
LotFrontage       True
LotArea          False
                 ...
MoSold           False
YrSold           False
SaleType         False
SaleCondition    False
SalePrice        False
Length: 81, dtype: bool

In [5]:
dataset.LotFrontage=dataset.LotFrontage.fillna(dataset.LotFrontage.mean())

In [6]:
'''MAPPING VALUES FOR MSZoning'''
dataset['MSZoning']=dataset['MSZoning'].map({'C(all)':1,'FV':2,'RH':3,'RL':4,'RM':5}).fillna(-1).astype(int)
#np.unique(x.MSZoning,return_inverse=True)
#x.MSZoning = x.MSZoning.map({'C (all)':1, 'FV':2, 'RH':3, 'RL':4, 'RM':5}).fillna(-1).astype(int)

In [7]:
'''SEGREGATING x and y'''
x= dataset[['MSSubClass', 'MSZoning', 'LotFrontage','LotArea','OverallQual', 'OverallCond','MoSold']]
print(x.shape)
x

(1460, 7)

,MSSubClass,MSZoning,LotFrontage,LotArea,OverallQual,OverallCond,MoSold
0,60,4,65.0,8450,7,5,2
1,20,4,80.0,9600,6,8,5
2,60,4,68.0,11250,7,5,9
3,70,4,60.0,9550,7,5,2
4,60,4,84.0,14260,8,5,12
...,...,...,...,...,...,...,...
1455,60,4,62.0,7917,6,5,8
1456,20,4,85.0,13175,6,6,2
1457,70,4,66.0,9042,7,9,5
1458,20,4,68.0,9717,5,6,4
1459,20,4,75.0,9937,5,6,6

In [8]:
y=dataset.SalePrice
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [9]:
x.isna().any()

MSSubClass     False
MSZoning       False
LotFrontage    False
LotArea        False
OverallQual    False
OverallCond    False
MoSold         False
dtype: bool

In [10]:
'''TRAINING DATASET USING LINEAR REGRESSION'''
model=LinearRegression()
model.fit(x,y)

LinearRegression()

In [11]:
'''PREDICTED PRICE'''
inputs=[[9,50,5,51,6120,7,5]]
PredictedmodelResult=model.predict(inputs)
print(PredictedmodelResult)

[2.64721596e+08]

In [12]:
print("score :", model.score(x, y)*100)

score : 67.28916499957668