In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv('14_stockdata_svm.csv')

In [3]:
print(dataset.shape)
print(dataset.head(5))

(94, 2)
            x           y
0  168.181818  160.840244
1  187.878788  159.413657
2  207.575758  157.136809
3  227.272727  159.357847
4  246.969697  157.542862

In [4]:
x=dataset.iloc[:,:-1]
x

              x
0    168.181818
1    187.878788
2    207.575758
3    227.272727
4    246.969697
..          ...
89  1921.212121
90  1940.909091
91  1960.606061
92  1980.303030
93  2000.000000

[94 rows x 1 columns]

In [5]:
y=dataset.iloc[:,-1]
y

0     160.840244
1     159.413657
2     157.136809
3     159.357847
4     157.542862
         ...
89    172.285091
90    176.001331
91    176.128171
92    175.813257
93    175.530826
Name: y, Length: 94, dtype: float64

In [6]:
'''train test split'''
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [7]:
'''Training dataset using support vector regression'''
from sklearn.svm import SVR
model=SVR(degree=4,gamma='scale',coef0=0.0,epsilon=0.1,max_iter=-1,kernel='linear')
model.fit(x_train,y_train)

SVR(degree=4, kernel='linear')

In [8]:
'''Prediction for all test data for validation'''
#R^2=1-SSres/SStot
y_pred=model.predict(x_test)

from sklearn.metrics import r2_score,mean_squared_error
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
print('Root Mean Square Error: ',rmse)
r2score=r2_score(y_test,y_pred)
print("R2Score: ",r2score*100)

Root Mean Square Error:  1.906222939314143
R2Score:  89.98517227907985